@import "variables.scss";

.playlist
{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - #{$playlistSelectWidth});
    height: calc(100% - #{$bottomPanelHeight});
    overflow: auto;
}

.playlistSelect
{
    position: absolute;
    top: 0;
    right: 0;
    overflow: auto;
    width: $playlistSelectWidth;
    height: calc(100% - #{$bottomPanelHeight});
}

#bottomBar
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $bottomPanelHeight;
}

#background
{
    z-index: -1000;
    background: rgba(0,0,0,0.9);
}

#container
{
    z-index: 0;
}